/* YourComponent.css */
.main {
  display: flex;
  height: 100vh;
  padding: 0px;
  background: linear-gradient(0deg, #d6c3b7, #d6c3b7),
    linear-gradient(
      181.16deg,
      rgba(0, 0, 0, 0.81) -23.34%,
      rgba(0, 0, 0, 0.27) 105.87%
    );
  background-blend-mode: overlay;
  margin-top: 30px;
}

.writing-section {
  width: 25%; /* Writing section occupies 25% of the page width */
  padding-right: 20px;
  color: #fff;
}

.writing-section h1 {
  font-size: 2.5rem;
}

.writing-section p {
  font-size: 1.25rem;
}

.images-section {
  display: flex;
  flex-direction: row; /* Arrange the images in a column */
  justify-content: space-around;
  align-items: center;
  width: 60%; /* Images section occupies the remaining 75% of the page width */
}

.images-section img {
  width: 41%; /* Adjust the width of the images */
  margin: 10px 0; /* Add space between images */
  margin-top: 230px;
  object-fit: cover;
  height: auto; /* Allow images to scale properly */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .main {
    flex-direction: row;
    text-align: center;
    height: 300px;
  }

  .writing-section {
    width: 30%; /* Writing section takes up full width on mobile */
    padding: 0px 0;
  }

  .images-section {
    width: 40%;
    margin-top: 30px;
    margin-bottom: -75px; /* Images section takes up full width on mobile */
  }

  .images-section img {
    width: 55%;
    height: 54%;
    margin: 3px;
    object-fit: cover;
  }
}
